In [1]:
import pyodbc
[x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]

['Microsoft Access Driver (*.mdb, *.accdb)']

In [2]:
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=C:\Users\Cristino\Documents\GitHub\springboard\data\sacs0910.mdb;'
    )
cnxn = pyodbc.connect(conn_str)
crsr = cnxn.cursor()
for table_info in crsr.tables(tableType='TABLE'):
    print(table_info.table_name)

Charters
Function
Fund
Goal
LEAs
Object
Resource
UserGL
UserGL_Totals

In [5]:
crsr.execute("select top 5 * from Charters;")
rows = crsr.fetchall()

In [6]:
type(rows)

list

In [7]:
print (len(rows))

5

In [11]:
import pandas as pd

In [15]:
labels =list('ABCDEFGHIJ')
labels

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [16]:
pd.DataFrame.from_records(rows,columns = labels)

,A,B,C,D,E,F,G,H,I,J
0,01,10017,0109835,0728,FAME Public Charter ...,ALT Form ...,School,,1405.07,1.8
1,01,10017,0112607,0811,Envision Academy for Arts & Technology ...,ALT Form ...,School,,227.96,0.0
2,01,10017,0118489,1049,Aspire California College Preparatory Academy ...,ALT Form ...,School,,184.56,0.0
3,01,61119,0119222,1066,Nea Community Learning Center ...,ALT Form ...,School,,279.16,0.0
4,01,61119,0130609,0352,Alameda Community Learning Center ...,SACS ...,District,09 Charter Spec. Revenue,97.72,0.0

In [ ]:
crsr.execute("select * from Charter C LEFT JOIN LEAs L on  C.id=L.id LIMIT 10;")