In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pyodbc

In [5]:
[x for x in pyodbc.drivers() if x.startswith('Microsoft Access Driver')]
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=C:\Users\Cristino\Desktop\Capstone 1_Extracted Data\sacs0910.mdb;'
    )
cnxn = pyodbc.connect(conn_str)
crsr = cnxn.cursor()
for table_info in crsr.tables(tableType='TABLE'):
    print(table_info.table_name)

Charters
Function
Fund
Goal
LEAs
Object
Resource
UserGL
UserGL_Totals

In [13]:
crsr.execute("SELECT * from LEAs;")
rows = crsr.fetchall()

In [14]:
type(rows)

list

In [15]:
len(rows)

1082

In [20]:
labels = list('abcdef')

In [21]:
import pandas as pd
df = pd.DataFrame.from_records(rows, columns = labels)

In [22]:
df.head()

,a,b,c,d,e,f
0,01,10017,Alameda County Office of Education ...,CO OFFICE,0.0,0.0
1,01,40402,Mission Valley ROC/P ...,JPA,0.0,0.0
2,01,40410,Tri-Valley ROP JPA ...,JPA,0.0,0.0
3,01,40428,Eden Area ROP JPA ...,JPA,0.0,0.0
4,01,40501,East Bay Regional Occupational Agency JPA ...,JPA,0.0,0.0